@{
}

@model Crash

    <navbar>
        <div class="bg-secondary text-white p-2">

            <div class="container-fluid">

                <div class="row">
                    <div class="col">
                        <span class="navbar-brand m-lg-2">Utah MVC Administration</span>
                    </div>
                    <div class="col-2 text-right">
                        <a type="button" class="btn btn-primary btn-sm" asp-controller="Admin" asp-action="Admin">Go back</a>
                    </div>
                    <div class="col-2 text-right">
                        <a class="btn btn-sm btn-danger" href="/account/logout">Log Out</a>

                    </div>
                </div>

            </div>

        </div>
    </navbar>

    <div class="container-fluid">
        <div class="col-12" style="text-align:center">
            <br />
            <h2>Crash - @Model.CRASH_ID</h2>
            <br />
            <br />
        </div>

        <div class="container-fluid">
            <h4>Main Info:</h4>
            <br />
            <div class="row">
                <div class="col">
                    <ul class="list-group">
                        <li class="list-group-item">Date: </li>
                        <li class="list-group-item">Hour: </li>
                        <li class="list-group-item">Route: </li>
                        <li class="list-group-item">Milepoint: </li>
                        <li class="list-group-item">Latitude: </li>
                        <li class="list-group-item">Longitude: </li>
                        <li class="list-group-item">Road: </li>
                        <li class="list-group-item">City: </li>
                        <li class="list-group-item">County: </li>
                        <li class="list-group-item">Crash Severity: </li>
                    </ul>
                </div>
                <div class="col-md-5">
                    <ul class="list-group">
                        <li class="list-group-item">@Model.CRASH_MONTH / @Model.CRASH_DAY / @Model.CRASH_YEAR</li>
                        <li class="list-group-item">@Model.CRASH_HOUR</li>
                        <li class="list-group-item">@Model.ROUTE</li>
                        <li class="list-group-item">@Model.MILEPOINT</li>
                        <li class="list-group-item">@Model.LAT_UTM_Y</li>
                        <li class="list-group-item">@Model.LONG_UTM_X</li>
                        <li class="list-group-item">@Model.MAIN_ROAD_NAME</li>
                        <li class="list-group-item">@Model.CITY</li>
                        <li class="list-group-item">@Model.COUNTY_NAME</li>
                        <li class="list-group-item">@Model.CRASH_SEVERITY_ID</li>
                    </ul>
                </div>
                <div class="col-md-1">
                    <a type="button" class="btn btn-warning btn-sm" asp-controller="Admin" asp-action="AdminEdit" asp-route-id="@Model.CRASH_ID">Edit</a>
                </div>
                <div class="col-md-1">
                    <a type="button" class="btn btn-danger btn-sm" asp-controller="Admin" asp-action="AdminDelete" asp-route-id="@Model.CRASH_ID">Delete</a>
                </div>


            </div>
            <br />
            <h4>Components:</h4>
            <br />
            <div class="row">
                <div class="col-5">
                    <ul class="list-group">
                        <li class="list-group-item">Work Zone: </li>
                        <li class="list-group-item">Pedastrian: </li>
                        <li class="list-group-item">Bicyclists: </li>
                        <li class="list-group-item">Mortorcycle: </li>
                        <li class="list-group-item">Improper Restraint: </li>
                        <li class="list-group-item">Unrestrained: </li>
                        <li class="list-group-item">DUI: </li>
                        <li class="list-group-item">Intersection: </li>
                        <li class="list-group-item">Wild Animal: </li>
                        <li class="list-group-item">Domestic Animal: </li>
                        <li class="list-group-item">Rollover: </li>
                        <li class="list-group-item">Commercial Vehicle: </li>
                        <li class="list-group-item">Teenage Driver: </li>
                        <li class="list-group-item">Elderly Driver: </li>
                        <li class="list-group-item">Night time: </li>
                        <li class="list-group-item">Single Driver: </li>
                        <li class="list-group-item">Distrated Driver: </li>
                        <li class="list-group-item">Drowsy Driver: </li>
                        <li class="list-group-item">Roadway Departure: </li>
                    </ul>
                </div>
                <div class="col-5">
                    <ul class="list-group">
                        <li class="list-group-item">@Model.WORK_ZONE_RELATED</li>
                        <li class="list-group-item">@Model.PEDESTRIAN_INVOLVED</li>
                        <li class="list-group-item">@Model.BICYCLIST_INVOLVED</li>
                        <li class="list-group-item">@Model.MOTORCYCLE_INVOLVED</li>
                        <li class="list-group-item">@Model.IMPROPER_RESTRAINT</li>
                        <li class="list-group-item">@Model.UNRESTRAINED</li>
                        <li class="list-group-item">@Model.DUI</li>
                        <li class="list-group-item">@Model.INTERSECTION_RELATED</li>
                        <li class="list-group-item">@Model.WILD_ANIMAL_RELATED</li>
                        <li class="list-group-item">@Model.DOMESTIC_ANIMAL_RELATED</li>
                        <li class="list-group-item">@Model.OVERTURN_ROLLOVER</li>
                        <li class="list-group-item">@Model.COMMERCIAL_MOTOR_VEH_INVOLVED</li>
                        <li class="list-group-item">@Model.TEENAGE_DRIVER_INVOLVED</li>
                        <li class="list-group-item">@Model.OLDER_DRIVER_INVOLVED</li>
                        <li class="list-group-item">@Model.NIGHT_DARK_CONDITION</li>
                        <li class="list-group-item">@Model.SINGLE_VEHICLE</li>
                        <li class="list-group-item">@Model.DISTRACTED_DRIVING</li>
                        <li class="list-group-item">@Model.DROWSY_DRIVING</li>
                        <li class="list-group-item">@Model.ROADWAY_DEPARTURE</li>
                    </ul>
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <div class="col-md-2 offset-md-9">
            <a type="button" class="btn btn-primary btn-sm" asp-controller="Admin" asp-action="Admin">Go back</a><br /><br />
        </div>
    </div>
