@page "/admin/admin"
@page "/admin"
@inherits OwningComponentBase<IUtahMVCRepository>

<h3>Admin</h3>

<CrashTable TableTitle="Crashes" UtahCrashData="UtahCrashData"></CrashTable>

@*<table class="table table-sm table-striped table-bordered">
    
    <thead>
        <tr>
            <th>Date & Time</th>
            <th>Route</th>
            <th>Milepoint</th>
            <th>Street Name</th>
            <th>City</th>
            <th>County</th>
            <th>Severity</th>
        </tr>
    </thead>

    <tbody>
        @foreach (Crash c in UtahCrashData)
        {
            <tr>

                <td>Date: @c.CRASH_DAY / @c.CRASH_MONTH / @c.CRASH_YEAR</td>
                <td>Route: @c.ROUTE</td>
                <td>Milepoint: @c.MILEPOINT</td>
                <td>Road: @c.MAIN_ROAD_NAME</td>
                <td>City: @c.CITY</td>
                <td>County: @c.COUNTY_NAME</td>
                <td>Crash Severity: @c.CRASH_SEVERITY_ID</td>

            </tr>
        }

        </tbody>

</table>*@

@code {

    public IUtahMVCRepository repo => Service;

    public IEnumerable<Crash> UtahCrashData { get; set; }


    protected async override Task OnInitializedAsync()
    {
        await UpdateData();
    }

    public async Task UpdateData()
    {
        UtahCrashData = await repo.UtahCrashData.Take(50).ToListAsync();
    }

}
