@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model Crash

<style>
    .alternate {
        background: #fcfcfc;
    }
</style>

<div class="card card-outline-primary m-1 p-1">
    <div class="bg-light p-1">
        <h3>@Model.CRASH_ID</h3>
    </div>

    <ul class="list-group">
        <li class="list-group-item">Date: @Model.CRASH_DAY / @Model.CRASH_MONTH / @Model.CRASH_YEAR</li>
        <li class="list-group-item">Route: @Model.ROUTE</li>
        <li class="list-group-item">Road/Address: @Model.MAIN_ROAD_NAME</li>
        <li class="list-group-item">City: @Model.CITY</li>
        <li class="list-group-item">County: @Model.COUNTY_NAME</li>
        <li class="list-group-item">Severity: @Model.CRASH_SEVERITY_ID</li>
    </ul>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Details" asp-route-id="@Model.CRASH_ID">Details</a>
</div>
<br />